build/
out/
dist/
deploy/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
*.user
*.autosave
*.log
*.obj
*.o
*.a
*.lib
*.exe
*.dll
*.pdb
.vs/
.vscode/
.idea/
compiler_probe.*
release/
